@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter.ttf) format("truetype");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}

.header {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1649933248435-1debbfac39b2?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header-title {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
  max-width: 1240px;
  margin: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 790px;
  margin: 100px auto 50px;
}

.card {
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  background-color: white;
  box-shadow: 4px 4px 5px rgba(255, 77, 148, 0.4);
}

.card-image{
  width: 100%; /* 100% of his container */
  margin-bottom: 30px;
} 

.card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

.footer {
  display: flex;
  /* agrega aquí las reglas restantes */
}

/* agregar una regla CSS para la firma del pie de página */
